.formulario_surv{
    text-align:center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 60%;
    .form-select{
        text-align:center;
        margin: 0 auto;
        width: 20%;
    }
    .questions_title{
        margin: 1rem;
    }
    .btnSubmit{
        margin-top: 2rem;
    }
}