.container-fluid{
   .container_form{
        text-align:center;
        margin: 0 auto;
        margin-top: 2rem;
        width: 20%;
        .title_input{
            margin-top: 1rem;
        }
        .question_input{
            margin-top: 1rem;
        }
   }
}